#!/usr/bin/env bash

# Install Ansible
set -e

sudo apt update
sudo apt install -y software-properties-common
sudo apt-add-repository --yes --update ppa:ansible/ansible

# Workaround for apt-get bug
# https://bugs.launchpad.net/ubuntu/+source/ansible/+bug/1833013
# https://github.com/hashicorp/vagrant/issues/10914
sudo DEBIAN_FRONTEND=noninteractive apt install -y ansible

cd ~

# TODO: copy from the local filesystem, instead of going over github
# Clone repo and switch to it
git clone ${git_clone_params} https://github.com/clojureverse/nebula
cd nebula/clojurians_log

# Start provisioning
cd playbooks

# Barf the secrets file
# The base64 stuff is to prevent terraform from munging the file (for example backslash escapes)
# since terraform treats the contents of this template file as a string (and so re-escapes the backslashes).
cat > vars/clojurians_log_secrets.yml.b64 << YAML
${filebase64("playbooks/vars/clojurians_log_secrets.yml")}
YAML

base64 --decode < vars/clojurians_log_secrets.yml.b64 > vars/clojurians_log_secrets.yml

# Bootstrap the instance
ansible-playbook bootstrap.yml -i hosts >> ~/ansible.log

# Create a script for ansible, so it's easy to re-run at a later date
echo '#/bin/sh' >> ~/run_ansible
echo 'HOME=/root ansible-playbook clojurians-log.yml -i hosts ${ansible_playbook_params} "$@"' >> ~/run_ansible
chmod +x ~/run_ansible

# Setup clojurians_log
~/run_ansible >> ~/ansible.log
