#!/usr/bin/env bash

# Install Ansible
set -e

sudo apt update
sudo apt install -y software-properties-common
sudo apt-add-repository --yes --update ppa:ansible/ansible

# Workaround for apt-get bug
# https://bugs.launchpad.net/ubuntu/+source/ansible/+bug/1833013
# https://github.com/hashicorp/vagrant/issues/10914
sudo DEBIAN_FRONTEND=noninteractive apt install -y ansible

cd ~

# Clone repo and switch to it
git clone --single-branch --branch exoscale-staging https://github.com/clojureverse/nebula
cd nebula/clojurians_log

# Start provisioning
cd playbooks

# Barf the secrets file
cat > vars/clojurians_log_secrets.yml << YAML
${file("playbooks/vars/clojurians_log_secrets.yml")}
YAML

# Bootstrap the instance
ansible-playbook bootstrap.yml -i hosts >> ~/ansible.log

# Setup clojurians_log
ansible-playbook clojurians-log.yml -i hosts ${ansible_playbook_params} >> ~/ansible.log
