[Unit]
Description=Slack RTM logging bot
After=network.target

[Service]
WorkingDirectory={{ rtmbot_home }}
ExecStart={{ rtmbot_home }}/rtmbot.sh
User={{ rtmbot_user }}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
