[Unit]
Description=Slack RTM logging bot
After=network.target

[Service]
WorkingDirectory=/var/rtmbot
ExecStart=/var/rtmbot/rtmbot.sh
User={{ clojure_app_user }}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
